@media (max-width: 600px) {

    .bonecoSVG {
        display: none;
    }


    body{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    header {
        margin-bottom: 20%;
    }

    header img {
        height: 60px;
    }


    footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        padding: 10px;
        font-size: larger;
    }

    
    .componentesPrincipais {
        flex-direction: column;
        gap: 20px;
    }

    .exibirTexto {
        height: 30vh;
    }

    .letrinhas {
        margin: 0;
        width: 150px;
    }

    .encriptar, .descriptar {
        font-size: larger;
        padding: 20px;
    }

    .textoDigitado {
        text-align: center;
    }


    .textoDigitado, .exibirTexto, .botoesMain, .copiaTexto, .botaoCopiar, .nenhuma, .secaoPrincipal, .secaoTexto{
        margin: 0;
        padding: 0;
        width: 340px;
    }
   
}