@media (min-width: 601px) and (max-width: 1024px) {
    .bonecoSVG {
        display: none;
    }


    body{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }


    header img {
        height: 65px;
    }


    footer {
        width: 100vw;
        padding: 10px;
        position: fixed;
        bottom: 0;
    }

    
    .componentesPrincipais {
        flex-direction: column;
        gap: 20px;
    }

    .exibirTexto {
        height: 30vh;
    }

    .letrinhas {
        margin: 0;
        width: 300px;
    }

    .encriptar, .descriptar {
        padding: 20px;
    }

    .textoDigitado {
        text-align: center;
    }
    
    

    .textoDigitado, .exibirTexto, .botoesMain, .copiaTexto, .botaoCopiar, .nenhuma, .secaoPrincipal, .secaoTexto{
        margin: 0;
        padding: 0;
        width: 560px;
    }
   
}