@media (max-width: 600px) {

    .bonecoSVG {
        display: none;
    }


    body{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }



    header img {
        height: 60px;
    }

    .secaoPrincipal {
        gap: 10px;
    }


    footer {
        width: 100vw;
        padding: 10px;
        position: fixed;
        bottom: 0;
    }

    
    .componentesPrincipais {
        flex-direction: column;
        gap: 20px;
    }

    .exibirTexto {
        text-align: center;
        width: 320px;
        height: 30vh;
    }

    .letrinhas {
        margin: 0;
        width: 200px;
    }

    .encriptar, .descriptar {
        display: flex;
        width: 160px;
        padding: 20px;
    }

    .textoDigitado {
        text-align: center;
    }

    .nenhuma {
        border-radius: 10px;
        width: 250px;
    }


    .textoDigitado, .exibirTexto, .botoesMain, .copiaTexto, .secaoPrincipal, .secaoTexto{
        margin: 0;
        padding: 0;
        width: 340px;
    }

    .fa-lock-open, .fa-lock {
        display: none;
    }
   
}