/* Responsive Tablet*/

@media (max-width: 375px) {
    
    body{
        flex-direction: column;

        gap: 16px;
    }


    .secaoPrincipal, .textoDigitado, .secaoTexto, .secaoSecundaria, .letrasMinusculas, .botoes {
        padding: 0;
        margin: 0;
    }

    .secaoPrincipal{
        width: 343px;
        margin-left: 16px;
        margin-top: 16px;
    }

    .textoDigitado {
        margin-top: 20px;
        padding: 10px;
        height: 50%;
    }


    .secaoSecundaria {
        width: 343px;
        height: 85px;
        margin-left: 16px;
    }

    .encriptar, .descriptar{
        width: 160px;
    }

    .secaoTexto{
        width: 343px;
        height: 133px;
        margin-left: 16px;
    }

    .exibirTexto{
        width: 343px;
        height: 100px;
        padding: 30px;
        margin-left: 16px;
    }

    

    .bonecoSVG {
        display: none;
    }

    footer{
        width: 100%;
    }

}